<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cannot List Item</title>

    <style>
        .returntomain {
            padding: 15px 30px;
            background-color: #4CAF50;
            border-radius: 10px;
            outline: none;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            color: white;
            white-space: nowrap;
            font-size: 16px;
            position:absolute;
            right:10px;
            top:85px;
        }
        p {
            font-size:21px;
        }

</style>
</head>
<body>
<a href="/mainmenu" class="returntomain">Return To Main Menu</a>
<br><br><br><br><br><br>
<p>You cannot list an item because you currently have 2 or more unaccepted trades where you are the counterparty</p>
<br>
<p> Please return to the main menu and respond to your unaccepted trades before listing more items. </p>
</body>
</html>