<html>
    <head>
        <meta charset="UTF-8">
        <title> Item Confirmation </title>
        <style>
    .returntomain {
    padding: 15px 30px;
    background-color: #4CAF50;
    border-radius: 10px;
    outline: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    font-size: 16px;
    position:absolute;
    right:10px;
    top:85px;
    }
</style>
    </head>

    <body></br></br></br></br></br>
    <a href="/mainmenu" class="returntomain">Return To Main Menu</a>
        <h1> Success! </h1>

		<h3> Your item has been listed! <br> Your item number is {{ current_item_no }} </h3>

    </body>
</html>