
<!-- Store this code in 'login.html' file inside the 'templates' folder -->

<html>
    <head>
        <meta charset="UTF-8">
        <title> Sign In </title>
        <link rel="stylesheet" href="static/style.css">           
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Login</h1>
                 <hr style="width:45vw;height:2px;border-width:0;color:gray;background-color:#BBEDF0">
             </div></br></br></br>
            <h2 class="word">
                <form id="form-login" action="/api/login" method="post">
                   <div class="msg">{{ msg }}</div>
                    <label for="username" style="font-weight:normal;font-size:15px;text-align:right;">Email/nickname</label><br>
                    <input id="username" name="username" type="text" placeholder="Email/Nickname" class="textbox"/></br></br>
                    <label for="password" style="font-weight:normal;font-size:15px;text-align:right;">Password</label><br>
                    <input id="password" name="password" type="password" placeholder="Password" class="textbox"/></br></br></br>
                    <input type="submit" class="btn" value="Sign In" style="padding:15px 30px;background-color:#4CAF50;border-radius:10px;color:white;"></br></br>
                </form>
            </h2>
              <hr style="width:45vw;height:2px;border-width:0;color:gray;background-color:#BBEDF0">
            <p class="bottom">New User? <br><br><br> <a class="bottom" href="/register" style="padding:18px 20px;background-color:#4CAF50;border-radius:10px;color:white;text-decoration: none;">Register here</a></p>
          </div>
        </div>
    </body>
</html>

<script> 
document.querySelector('#form-login').addEventListener("login", async function (e) {
    e.preventDefault()
    console.log(new URLSearchParams(new FormData(e.target)).toString())
    const res = await fetch("/api/login", {
        body: new URLSearchParams(new FormData(e.target)).toString(),
        method: "POST",
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        }
    })
    console.log(await res.json())
});  
</script>
