<!-- TODO: Rename this file to "proposeconfirmation.html"? -->

<!DOCTYPE html>

<html lang="en">

<style>
        .returntomain {
    padding: 15px 30px;
    background-color: #4CAF50;
    border-radius: 10px;
    outline: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    font-size: 16px;
    position:absolute;
    right:10px;
    top:85px;
   }

</style>
<head>
    <meta charset="UTF-8">
    <title>Offer Proposed</title>
</head>
    <body>
        <h2>Offer sent!</h2>
        <br>
        <p> Your item: </p>

        <h3> {{ proposer_item }}</h3> <h4>(item number {{ proposer_item_no }})</h4>

        <p> has been offered in exchange for {{ counterparty_name }}'s item: </p>

        <h3>{{ counterparty_item_no }}</h3> <h4>(item number {{ counterparty_item_no }}).</h4>
        <br><br>
        <a href="/mainmenu" class="returntomain">Return to Main Menu</a>
    </body>
</html>