<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cannot Propose Trade</title>

    <style>
        .returntomain {
            padding: 15px 30px;
            background-color: #4CAF50;
            border-radius: 10px;
            outline: none;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            color: white;
            white-space: nowrap;
            font-size: 16px;
            position:absolute;
            right:10px;
            top:85px;
        }
        p {
            font-size:21px;
        }

</style>
</head>
<body>
<a href="/mainmenu" class="returntomain">Return To Main Menu</a>
<br><br><br><br><br><br>
{% if msg == "no items" %}
    <p>A trade cannot be proposed because you currently have no items listed.</p>
    <br>
    <p> Please return to the main menu and list an item before retrying. </p>
{% else %}
    <p>
        This specific item-for-item trade cannot be proposed again. <br>
        Please return to the main menu and try a different trade. <br>
        {{ msg }}
    </p>
{% endif %}
</body>
</html>